/* Shares form-container styles with Withdraw.css */
.form-container {
    max-width: 500px;
  }
  
  .form-container input {
    margin-bottom: 1.5rem;
  }
  
  .form-footer {
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .form-footer a {
    color: #4a90e2;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }